[[source]]
name = "pypi"
url = "https://mirrors.ustc.edu.cn/pypi/web/simple/"
verify_ssl = true

[dev-packages]

[packages]
certifi = "==2020.4.5.1"
chardet = "==3.0.4"
idna = "==2.9"
lxml = "==4.5.1"
requests = "==2.23.0"
urllib3 = "==1.25.9"

[requires]
python_version = "3.8"
